h1.title {
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    /* font-family: 'Lato', sans-serif; */
    /* letter-spacing: -0.5px; */
}

h1 .title .name {
    color: var(--primary-color);
}

/* h1.title :hover{
    color: var(--primary-color);
} */
  
h1.rubberBand {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    font-size: 4rem;
    /* color: var(--primary-color); */
}
  
h1 .rubberBand .animated {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
  
h1 .rubberBand :hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
  
span.subtitle {
    position: relative;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--gray-color);
    font-weight: bold;
}